{
    "openapi": "3.0.0",
    "info": {
        "title": "API documentation",
        "version": "1.0.0",
        "description": "This is an API converted from a Postman collection."
    },
    "servers": [
        {
            "url": "https://api.elliephant.com"
        },
        {
            "url": "https://api-sandbox.elliephant.com"
        }
    ],
    "paths": {
        "/api/products": {
            "get": {
                "summary": "Retrieve a list of products",
                "operationId": "listProducts",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of products to return per page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 200
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of the products listing.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                      "description": "Successful response",
                      "content": {
                        "application/json": {
                          "schema": {
                            "type": "object",
                            "properties": {
                              "total_products": {
                                "type": "integer",
                                "description": "Total number of products available."
                              },
                              "total_products_in_query": {
                                "type": "integer",
                                "description": "Number of products returned in the current query."
                              },
                              "current_page": {
                                "type": "integer",
                                "description": "The current page number in the paginated result set."
                              },
                              "total_pages": {
                                "type": "integer",
                                "description": "Total number of pages in the result set."
                              },
                              "products": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "product_id": {
                                      "type": "integer",
                                      "description": "Unique identifier for the product."
                                    },
                                    "product_name": {
                                      "type": "string",
                                      "description": "Name of the product."
                                    },
                                    "product_description": {
                                      "type": "string",
                                      "description": "Detailed description of the product."
                                    },
                                    "price": {
                                      "type": "string",
                                      "description": "Price of the product."
                                    },
                                    "stock_status": {
                                      "type": "string",
                                      "description": "Stock availability status of the product."
                                    }
                                    
                                  }
                                },
                                "description": "Array of product details."
                              }
                            }
                          },
                          "example": {
                            
                          }
                        }
                      }
                    }
                }
            }
        },
        "/api/product": {
            "get": {
                "summary": "Retrieve a single product",
                "operationId": "getProduct",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                }
            }
        },
        "/api/order": {
            "get": {
                "summary": "Retrieve a specific order",
                "operationId": "getOrder",
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                }
            },
            "post": {
                "summary": "Place an order",
                "operationId": "placeOrder",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "product_id": {
                                        "type": "integer"
                                    },
                                    "variation_id": {
                                        "type": "integer"
                                    },
                                    "recipient_details": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "last_name": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "phone_number": {
                                                    "type": "string"
                                                },
                                                "delivery_address": {
                                                    "type": "object",
                                                    "properties": {
                                                        "address_line_1": {
                                                            "type": "string"
                                                        },
                                                        "suburb": {
                                                            "type": "string"
                                                        },
                                                        "state": {
                                                            "type": "string"
                                                        },
                                                        "postcode_zipcode": {
                                                            "type": "string"
                                                        },
                                                        "country": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "currency": {
                                        "type": "string"
                                    },
                                    "base_location": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Order successfully placed"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ClientIdAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "CLIENT-ID"
            },
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "API-KEY"
            },
            "ApiPasswordAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "API-PASSWORD"
            }
        }
    },
    "security": [
        {
            "ClientIdAuth": [],
            "ApiKeyAuth": [],
            "ApiPasswordAuth": []
        }
    ]
}